In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

%matplotlib inline

#plt.style.use('fivethirtyeight')

In [3]:
data_train = pd.read_csv('../kag_exp_data/train.csv')
data_train.head()

NameError: name 'pd' is not defined

In [3]:
data_train = data_train[data_train.is_booking == 1]

In [4]:
data_train.shape

(3000693, 24)

In [5]:
print data_train.columns

Index([u'date_time', u'site_name', u'posa_continent', u'user_location_country',
       u'user_location_region', u'user_location_city',
       u'orig_destination_distance', u'user_id', u'is_mobile', u'is_package',
       u'channel', u'srch_ci', u'srch_co', u'srch_adults_cnt',
       u'srch_children_cnt', u'srch_rm_cnt', u'srch_destination_id',
       u'srch_destination_type_id', u'is_booking', u'cnt', u'hotel_continent',
       u'hotel_country', u'hotel_market', u'hotel_cluster'],
      dtype='object')

In [6]:
data_train.srch_destination_id.unique().shape

(36933,)

In [7]:
destinations = pd.read_csv('../kag_exp_data/destinations.csv')
destinations.tail()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
62101,64989,-2.145876,-2.158016,-2.216621,-2.158016,-2.006209,-2.102505,-2.216621,-2.157203,-2.216621,...,-2.216621,-2.158016,-2.158016,-2.216621,-2.216621,-2.216621,-2.216621,-2.216621,-2.216621,-2.152024
62102,64990,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.176802,-2.203479,-2.203479,-2.203479,...,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.203479,-2.008885
62103,64991,-2.190567,-2.208308,-2.208308,-2.208308,-2.208308,-2.135493,-2.208308,-2.208308,-1.909808,...,-2.188935,-2.208308,-2.175594,-2.208308,-2.208308,-2.199347,-2.208308,-2.208308,-2.208308,-2.208308
62104,64992,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,...,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686,-2.173686
62105,64993,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,...,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457,-2.179457

In [8]:
destinations.srch_destination_id.unique().shape

(62106,)

Create a subset of the training dataset to work with and test out certain methods.

Can use if the dataset is too large, but after dropping all rows with 0 in 'is_booking' (just clicks, not reservation), the training dataset has been narrowed down to 3 million. This is a managable size without having to wait too long to process.

In [9]:
data_train.reset_index(drop=True, inplace=True)
data_train

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
1,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,0,1,8291,1,1,1,2,50,191,2
2,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,0,1,1385,1,1,1,0,185,185,58
3,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,0,1,8803,1,1,1,3,151,69,36
4,2014-01-03 16:30:17,2,3,66,462,41898,2454.8588,1482,0,1,...,0,2,12009,1,1,1,2,50,680,95
5,2014-01-03 16:44:56,2,3,66,462,41898,2454.8588,1482,0,1,...,0,1,12009,1,1,1,2,50,680,95
6,2014-01-03 17:11:36,2,3,66,462,41898,2454.8588,1482,0,1,...,0,1,12009,1,1,1,2,50,680,95
7,2014-10-29 14:32:19,2,3,66,174,40365,8456.8294,1713,0,0,...,0,2,1571,3,1,1,3,5,89,38
8,2014-12-05 09:58:15,2,3,66,174,21855,8393.1607,1713,0,0,...,0,1,12861,5,1,1,3,5,89,81
9,2013-01-10 18:30:08,37,1,69,923,23649,NaN,2140,1,0,...,2,3,22494,6,1,1,6,204,1776,43
10,2013-12-02 04:30:54,24,2,3,64,12576,NaN,2451,0,0,...,0,1,8785,1,1,1,6,105,35,25
11,2014-12-28 20:38:09,24,2,3,64,9448,NaN,2451,0,0,...,0,1,65035,6,1,1,6,105,29,10
12,2014-12-29 01:11:43,24,2,3,64,9448,NaN,2451,0,0,...,0,1,8746,1,1,1,6,105,29,99
13,2014-12-30 04:51:53,24,2,3,64,9448,NaN,2451,0,0,...,0,1,14039,6,1,1,6,105,35,78
14,2014-12-30 08:56:35,24,2,3,64,9448,NaN,2451,0,0,...,0,1,33393,6,1,1,6,105,12,8
15,2014-12-30 12:43:43,24,2,3,64,9448,NaN,2451,0,0,...,0,1,21787,6,1,1,6,105,29,15
16,2014-12-30 12:51:34,24,2,3,64,9448,NaN,2451,0,0,...,0,1,21787,6,1,1,6,105,29,15
17,2014-04-19 09:44:32,2,3,66,174,16634,3.3379,3313,0,0,...,2,1,61531,6,1,1,2,50,1241,91
18,2014-10-18 18:35:06,2,3,66,174,46432,112.9832,3313,0,0,...,0,1,11835,1,1,1,2,50,633,54
19,2013-11-09 07:45:52,2,3,66,189,2871,2586.0222,3925,1,0,...,0,1,4777,3,1,1,2,50,967,42
20,2013-11-09 07:48:54,2,3,66,189,2871,2586.0222,3925,1,0,...,0,1,4777,3,1,1,2,50,967,42
21,2014-05-07 14:27:45,2,3,66,189,6881,NaN,3925,0,0,...,0,1,12004,1,1,1,2,50,480,32
22,2014-05-10 10:17:00,2,3,66,189,2871,1515.3055,3925,0,0,...,0,1,26328,1,1,1,2,50,871,7
23,2014-09-20 15:43:33,2,3,66,189,22336,NaN,3925,1,0,...,0,1,26242,6,1,1,2,198,391,83
24,2014-09-20 16:43:37,2,3,66,189,22336,NaN,3925,1,0,...,0,1,8811,1,1,1,2,198,391,18
25,2014-07-12 19:58:16,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8278,1,1,1,2,50,368,18
26,2014-07-12 20:02:54,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8278,1,1,1,2,50,368,18
27,2014-07-12 20:10:29,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8278,1,1,1,2,50,368,95
28,2014-07-12 20:14:12,25,2,23,48,4924,NaN,3972,1,0,...,1,1,8278,1,1,1,2,50,368,95
29,2013-04-04 23:18:14,24,2,3,58,28400,NaN,4413,0,0,...,0,1,11079,3,1,1,3,106,753,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3000663,2014-03-06 15:05:12,2,3,66,220,8159,1738.0744,1195787,0,0,...,0,1,17264,5,1,1,2,50,653,7
3000664,2014-05-28 12:04:04,2,3,66,220,8159,4932.6339,1195787,0,0,...,0,1,8806,1,1,1,6,105,22,58
3000665,2014-08-05 08:10:38,2,3,66,220,8159,2595.9738,1195787,0,0,...,0,2,24126,6,1,1,2,50,363,73
3000666,2014-08-05 08:27:32,2,3,66,220,8159,2595.9738,1195787,0,0,...,0,3,8838,1,1,1,2,50,363,73
3000667,2014-10-09 09:06:09,2,3,66,220,24796,NaN,1195787,0,0,...,0,3,12815,5,1,1,2,50,369,39
3000668,2014-11-29 06:43:51,2,3,66,220,8159,988.3810,1195787,0,0,...,0,1,7000,3,1,1,2,50,1058,47
3000669,2013-08-12 22:03:32,8,4,77,824,26133,NaN,1196406,0,0,...,1,1,26414,6,1,1,2,198,399,4
3000670,2013-10-25 22:50:45,24,2,3,59,26212,NaN,1196406,0,1,...,0,1,8250,1,1,1,2,50,628,88
3000671,2014-07-27 22:04:26,24,2,3,59,4001,NaN,1196406,0,1,...,0,1,8250,1,1,1,2,50,628,19
3000672,2014-02-04 23:10:27,2,3,66,442,31964,NaN,1196816,0,1,...,2,1,8810,1,1,1,4,8,1532,64
3000673,2014-05-06 21:55:33,2,3,66,442,31964,NaN,1196816,0,0,...,2,2,8291,1,1,1,2,50,191,41
3000674,2014-05-06 22:03:23,2,3,66,442,31964,NaN,1196816,0,0,...,2,2,8271,1,1,1,2,50,696,91
3000675,2014-02-19 18:59:19,23,1,1,229,36480,115.2412,1197008,0,0,...,0,1,18046,1,1,1,6,105,1808,81
3000676,2013-01-25 18:28:34,17,1,133,20,3392,NaN,1197018,0,0,...,1,1,5497,1,1,1,3,182,79,63
3000677,2014-06-16 11:37:48,17,1,133,20,3392,NaN,1197018,0,1,...,0,1,8785,1,1,1,6,105,35,68
3000678,2013-04-05 23:45:12,8,4,77,462,3492,2047.0196,1197030,1,0,...,0,1,20896,6,1,1,0,63,1258,98
3000679,2013-06-14 17:45:02,25,2,23,48,4924,NaN,1197530,0,0,...,0,1,8253,1,1,1,6,70,19,76
3000680,2013-06-15 16:50:38,25,2,23,48,4924,NaN,1197530,0,0,...,1,1,8253,1,1,1,6,70,19,13
3000681,2013-11-09 00:14:09,8,4,77,871,36643,1558.0743,1197569,0,0,...,3,1,8792,1,1,1,0,34,55,90
3000682,2014-02-26 13:51:21,8,4,77,871,620,NaN,1197569,0,0,...,3,1,8257,1,1,1,0,63,1108,89
3000683,2013-04-08 07:34:23,17,1,133,20,3392,NaN,1197589,0,0,...,1,2,22618,6,1,1,6,204,1614,50
3000684,2014-03-28 03:25:22,2,3,66,351,18942,NaN,1197641,0,0,...,0,1,44311,6,1,1,2,50,661,50
3000685,2014-05-23 03:07:34,2,3,66,351,18942,NaN,1197641,0,0,...,0,1,10666,3,1,1,2,50,576,48
3000686,2014-08-03 09:29:24,34,3,205,155,19334,54.1568,1197813,1,0,...,0,1,5950,3,1,1,2,198,399,49
3000687,2013-06-21 09:53:08,34,3,205,135,27655,1181.4133,1198099,1,1,...,2,1,12267,6,1,1,2,50,1230,91
3000688,2013-10-22 22:07:42,2,3,66,174,26232,113.0804,1198182,0,0,...,0,1,24144,6,1,1,2,50,967,7
3000689,2013-10-30 15:34:11,2,3,66,174,24103,254.2758,1198182,0,0,...,0,1,24144,6,1,1,2,50,967,42
3000690,2014-01-27 15:02:51,2,3,66,174,26232,535.0339,1198182,0,1,...,0,1,8273,1,1,1,2,50,660,68
3000691,2014-07-15 10:37:42,2,3,66,174,26232,649.6568,1198182,0,0,...,0,1,18811,1,1,1,2,50,592,77
3000692,2014-09-18 08:52:42,2,3,66,462,12565,106.4274,1198182,0,0,...,0,1,18811,1,1,1,2,50,592,42

Plan of action:

- Create a good training dataset from the one given:
    - Get rid of click data (remove 0 rows from 'is_booking'
    - Convert date columns to datetime objects - make new columns out of month and year (maybe use to sort?)
    - Create new column for length of trip (srch_co - srch_ci)
    - PCA on destination data
    - Take small smaller training set from whole training file so it is easier to train and test on repeatedly
    - Merge destination file data (after PCA) with training data (use srch_destination_id)
    - Initial EDA of training data
    - Search through dataset for missing values, impute mean when necessary or drop rows with missing values
    - Feature engineering
    - Standardize data?
    - Test/Train split of subset
    - Do some modelling

In [10]:
# attempt to use hdf5 in pandas....aborted - just loading file
# from pandas import HDFStore
# train_hdf = HDFStore('../kag_exp_data/storage.h5')
# train_hdf.put('k_train', data_train, format='table', data_columns=True)
# print train_hdf['k_train'].shape
# data_train.to_hdf('../kag_train', 'data', mode='w', format='table')

Perform PCA on destination data file to still data down to 4 or 5 of it's primary components.

In [11]:
destinations.head(2)

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690

In [12]:
ss = StandardScaler()
destinations_norm = pd.DataFrame(ss.fit_transform(destinations))

pca = PCA(n_components=15)
dest_small = pca.fit_transform(destinations_norm[[i for i in range(149)]])
dest_small = pd.DataFrame(dest_small)
dest_small["srch_destination_id"] = destinations["srch_destination_id"]
dest_small.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,srch_destination_id
0,-1.197313,1.378518,-0.612534,-0.356261,0.937557,1.340952,2.469440,-0.917367,1.602254,0.771778,-0.091561,0.520935,0.576589,0.615236,-0.376773,0
1,-6.607374,-0.297226,0.706252,-0.832829,-0.249766,0.752353,-0.063990,-0.281699,-0.119281,0.073734,0.267471,-0.363770,0.044325,0.696980,-0.015392,1
2,1.384301,0.505775,1.175688,3.269825,-2.675078,0.257830,-0.056648,-1.720148,1.347416,-2.139900,-1.359655,-2.064712,-0.287617,-0.463452,-0.027959,2
3,-7.354977,-0.437815,0.054926,-0.555849,-0.098661,0.191089,-0.315376,-0.104315,0.464675,0.024518,-0.079485,0.236612,-0.024506,0.767314,0.086682,3
4,-3.733033,-0.627604,0.537632,0.618952,-0.046597,-0.702976,0.792613,-0.005225,-0.088258,0.014265,-0.638072,0.426130,0.782104,0.929578,0.284121,4

In [13]:
# Sum first 5 components (explained variance ratios) from PCA
np.sum(pca.explained_variance_ratio_)

0.72546225686844446

Convert to date features to datetime columns.

In [14]:
data_train['srch_ci'] = pd.to_datetime(data_train.srch_ci)
data_train['srch_co'] = pd.to_datetime(data_train.srch_co)
data_train['date_time'] = pd.to_datetime(data_train.date_time)

In [15]:
data_train['duration'] = data_train.loc[:, 'srch_co'] - data_train.loc[:, 'srch_ci']
data_train['duration'] = data_train.duration.apply(lambda x: x.days)
data_train.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,duration
0,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,1,8250,1,1,1,2,50,628,1,4
1,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,1,8291,1,1,1,2,50,191,2,2
2,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,1,1385,1,1,1,0,185,185,58,8
3,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,1,8803,1,1,1,3,151,69,36,2
4,2014-01-03 16:30:17,2,3,66,462,41898,2454.8588,1482,0,1,...,2,12009,1,1,1,2,50,680,95,5

In [16]:
data_train[data_train.duration <= 0]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,duration
590848,2014-11-17 15:55:42,2,3,215,553,11431,NaN,155711,0,0,...,1,8278,1,1,1,2,50,368,18,-9
2052790,2014-11-26 04:14:11,2,3,64,39,35666,NaN,870001,0,0,...,1,20525,1,1,1,3,104,76,46,0
2239487,2014-11-22 04:36:37,53,1,66,196,2428,2317.3493,360392,0,0,...,1,12272,6,1,1,2,50,663,91,-18
2554935,2014-11-25 00:13:38,2,3,66,442,11488,1.6298,772,0,0,...,1,578,1,1,1,2,50,1100,48,-27

In [17]:
# eliminate the four rows that have trip durations that are 0 days or negative days
data_train = data_train[data_train.duration > 0]

Merge small destination dataframe with main training dataset.

In [18]:
data_train.srch_destination_id.unique().shape

(36933,)

In [19]:
dest_small.srch_destination_id.unique().shape

(62106,)

In [20]:
data_dest_train = pd.merge(data_train, dest_small, how='left', on='srch_destination_id')

In [21]:
del data_train
print data_dest_train.shape
print
print data_dest_train.srch_destination_id.unique().shape

(3000689, 40)

(36933,)

There are a million missing values in the 'orig_destination_distance' feature. We are going to use some of the other features to fill in these values. First try KNN, and then a random forest regressor. Could also try gradient boosting or XGBoost if the decision tree works well.

In [2]:
train_df = data_dest_train[data_dest_train.orig_destination_distance.notnull()]
print train_df.shape
train_df.head(2)

NameError: name 'data_dest_train' is not defined

In [23]:
train_df.columns.values

array(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt',
       'srch_children_cnt', 'srch_rm_cnt', 'srch_destination_id',
       'srch_destination_type_id', 'is_booking', 'cnt', 'hotel_continent',
       'hotel_country', 'hotel_market', 'hotel_cluster', 'duration', 0, 1,
       2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype=object)

In [1]:
# try KNN to regress

#knn_n100 = KNeighborsRegressor(n_neighbors=50, weights='uniform')

X = train_df[['site_name', 'posa_continent', 'user_location_country','user_location_region', 
              'user_location_city', 'channel', 'srch_adults_cnt', 'srch_children_cnt', 
              'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id', 
              'is_booking', 'hotel_continent', 'hotel_country', 'hotel_market', 
              'hotel_cluster', 'duration',0,1,2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]]

# X = train_df[['user_location_country', 'user_location_region', 'user_location_city', 
#               'hotel_market','hotel_continent', 'hotel_country', 'hotel_cluster',
#               'srch_destination_id']]
y = train_df.orig_destination_distance.values

# ss = StandardScaler()
# Xs = ss.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# knn_n100.fit(X_train, y_train)
# y_pred = knn_n100.predict(X_test)

NameError: name 'train_df' is not defined

In [25]:
# knn_n100.score(X_test, y_test)

In [26]:
def rmsle(pred, true):
    sum_ = 0
    for i in range(len(true)):
        sum_ += (np.log(pred[i]+1) - np.log(true[i]+1))**2
    return np.sqrt(sum_/float(len(true)))

def rmse(pred, true):
    sum_ = 0
    for i in range(len(true)):
        sum_ += (pred[i] - true[i])**2
    return np.sqrt(sum_/float(len(true)))

In [27]:
#rmse(y_pred, y_test)

In [28]:
#plt.scatter(y_pred, y_test)

In [ ]:
#from xgboost import XGBRegressor, XGBClassifier

In [ ]:
rfr = RandomForestRegressor(n_jobs=3)
model = rfr.fit(X_train,y_train)
y_pred = model.predict(X_test)

rmse(y_test, y_pred)

In [ ]:
model.score(X_test, y_test)

In [ ]:
plt.scatter(y_pred, y_test)

The random forest proved much better at predicting the orig_destination_distance, we will use it to replace missing values of orig_destination_distance in the main dataset.

In [ ]:
# xgbr = XGBRegressor()
# model = xgbr.fit(X_train,y_train)
# y_pred_boost = xgbr.predict(X_test)

# rmse(y_test, y_pred_boost)

In [ ]:
# xgbr.score(X_test, y_test)

In [ ]:
# plt.scatter(y_pred_boost, y_test)

In [ ]:
# main dataset (training) with missing values to fill with predicted...
# ...values for orid_destination_distance
train_df_missing = data_dest_train[~data_dest_train.orig_destination_distance.notnull()]

X_miss = train_df_missing[['site_name', 'posa_continent', 'user_location_country','user_location_region', 
              'user_location_city', 'channel', 'srch_adults_cnt', 'srch_children_cnt', 
              'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id', 
              'is_booking', 'hotel_continent', 'hotel_country', 'hotel_market', 
              'hotel_cluster', 'duration']]

In [ ]:
train_df_missing.shape

In [ ]:
y_missing = rfr.predict(X_miss)

In [ ]:
y_missing

In [ ]:
train_df_missing.loc[:, 'orig_destination_distance'] = y_missing
train_df_missing.head()

In [ ]:
train_data_full = pd.concat([train_df, train_df_missing])
del train_df
del train_df_missing
train_data_full.head().T

In [ ]:
train_data_full.shape

Ok, now we have a dataframe that's been cleaned of missing values, with some of those missing values imputed from other features - above fitting RFR for orig_destination_distance. We also droped about 12000 rows that were missing 'destination' features 0, 1, 2, 3, and 4.

In [ ]:
train_data_full = train_data_full.dropna(axis=1)
train_data_full.reset_index(inplace=True, drop=True)

In [ ]:
train_data_full.isnull().sum()

### Models

In [4]:
y = train_data_full.hotel_cluster.values
drop_cols = ['date_time', 'user_id', 'srch_ci', 'srch_co', 'is_booking', 'hotel_cluster', 'cnt']
keep_cols = [x for x in train_data_full.columns if x not in drop_cols]
keep_cols

NameError: name 'train_data_full' is not defined

In [46]:
y = train_data_full.hotel_cluster.values
drop_cols = ['date_time', 'user_id', 'srch_ci', 'srch_co', 'is_booking', 'hotel_cluster']
keep_cols = [x for x in train_data_full.columns if x not in drop_cols]
X = train_data_full[keep_cols]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

rfc = RandomForestClassifier(n_estimators=8, n_jobs=2)
model = rfc.fit(X_train,y_train)
y_pred = model.predict(X_test)

rmse(y_test, y_pred)

37.340362513070524

In [47]:
sorted(zip(X.columns, model.feature_importances_), key=lambda x: x[1], reverse=True)

[('orig_destination_distance', 0.24248704796058809),
 ('user_location_city', 0.16756069062975587),
 ('user_location_region', 0.098174113528735271),
 ('srch_destination_id', 0.084601723948715749),
 ('channel', 0.071175876848714667),
 ('hotel_market', 0.067364282353167715),
 ('duration', 0.062006217596951366),
 ('srch_adults_cnt', 0.043975567400189493),
 ('srch_children_cnt', 0.02978857879608755),
 ('user_location_country', 0.02375690504521262),
 ('is_mobile', 0.019912701782212109),
 ('site_name', 0.019223696984619999),
 ('srch_rm_cnt', 0.017607027329789679),
 ('srch_destination_type_id', 0.013321537599647699),
 ('hotel_country', 0.013210268773847083),
 ('is_package', 0.0074607658982474576),
 ('hotel_continent', 0.007250900280551178),
 ('posa_continent', 0.0061138825770673619),
 ('cnt', 0.0050082146658990256)]

In [48]:
print y_test[:30]
print y_pred[:30]

[41 13 77 55 49 44  1 21 18 41 91 99 29 83  7 86 98 62 95 24 62 62 22  7 96
 28 19 59 19 13]
[70 13  6  9 49 78  1 21 16  7 48 99 36 83 59 22 98 36 19 45 37 85 38 18 12
 28 18 19 21 94]

In [49]:
prob_arr = model.predict_proba(X_test)

In [50]:
sorted(zip(rfc.classes_, prob_arr[22]), key=lambda x: x[1], reverse=True)[:10]

[(38, 0.25),
 (64, 0.25),
 (36, 0.125),
 (77, 0.125),
 (78, 0.125),
 (15, 0.083333333333333329),
 (6, 0.041666666666666664),
 (0, 0.0),
 (1, 0.0),
 (2, 0.0)]

In [51]:
preds_5 = []
for i in range(len(y_pred)):
    preds_5.append([x[0] for x in sorted(zip(rfc.classes_, 
                                             prob_arr[i]), 
                                         key=lambda x: x[1], 
                                         reverse=True)[:5]])
in_5er = 0
for i in range(len(preds_5)):
    if y_test[i] in preds_5[i]:
        in_5er +=1
print in_5er
print len(preds_5)

361364
900207

In [52]:
in_5er/float(len(preds_5))

0.40142322821306653

In [53]:
import ml_metrics as metrics
target = [[x] for x in y_test.tolist()]
metrics.mapk(target, preds_5, k=5)

0.2600339329361655

In [54]:
del model
del y_pred
del prob_arr
del preds_5
del target

## Run model on contest test data
 - First get test data ready

In [55]:
test_data = pd.read_csv('../kag_exp_data/test.csv')
print test_data.shape
test_data.head()

(2528243, 22)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [56]:
test_data.isnull().sum()

id                                0
date_time                         0
site_name                         0
posa_continent                    0
user_location_country             0
user_location_region              0
user_location_city                0
orig_destination_distance    847461
user_id                           0
is_mobile                         0
is_package                        0
channel                           0
srch_ci                          21
srch_co                          17
srch_adults_cnt                   0
srch_children_cnt                 0
srch_rm_cnt                       0
srch_destination_id               0
srch_destination_type_id          0
hotel_continent                   0
hotel_country                     0
hotel_market                      0
dtype: int64

Make same modifications to test dataset as we did to the training data. This includes:
    
- Converting date columns to datetime
    - Then calculate duration
    - ~20-30 rows are missing checkin and checkout times - impute most common
- Merge destination_id PCA data to the test data
- Use RFRegressor to fill in missing orig_destination_distance
- Predict hotel cluster with model(s)
- Create submission file

In [57]:
test_data.srch_destination_id.unique().shape

(40718,)

In [58]:
destinations.srch_destination_id.unique().shape

(62106,)

In [59]:
test_data.srch_ci.value_counts()[-30:]

2017-02-12    1
2017-01-06    1
2017-01-30    1
2017-03-28    1
2017-01-03    1
2017-01-09    1
2017-04-15    1
2017-01-04    1
2017-01-05    1
2161-10-00    1
2017-02-26    1
2017-03-04    1
2017-03-05    1
2017-03-07    1
2017-03-03    1
2015-01-04    1
2017-01-17    1
2017-01-15    1
2017-01-12    1
2017-01-11    1
2017-01-18    1
2017-01-19    1
2017-02-02    1
2017-02-03    1
2017-04-09    1
2017-02-04    1
2017-02-06    1
2017-04-26    1
2017-04-25    1
2017-01-10    1
Name: srch_ci, dtype: int64

In [60]:
# one date is really off and is causing problems
test_data[test_data.srch_ci == '2161-10-00']

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
312920,312920,2015-09-27 12:17:51,13,1,46,244,33092,NaN,1041293,0,...,2161-10-00,2016-01-22,2,0,1,6387,1,6,170,1894

In [61]:
test_data.set_value(312920, 'srch_ci', '2016-01-10')
test_data.iloc[312920]

id                                        312920
date_time                    2015-09-27 12:17:51
site_name                                     13
posa_continent                                 1
user_location_country                         46
user_location_region                         244
user_location_city                         33092
orig_destination_distance                    NaN
user_id                                  1041293
is_mobile                                      0
is_package                                     0
channel                                       10
srch_ci                               2016-01-10
srch_co                               2016-01-22
srch_adults_cnt                                2
srch_children_cnt                              0
srch_rm_cnt                                    1
srch_destination_id                         6387
srch_destination_type_id                       1
hotel_continent                                6
hotel_country                                170
hotel_market                                1894
Name: 312920, dtype: object

In [62]:
test_data['srch_ci'] = pd.to_datetime(test_data.srch_ci, errors='ignore')
test_data['srch_co'] = pd.to_datetime(test_data.srch_co)
test_data['date_time'] = pd.to_datetime(test_data.date_time)

In [63]:
def fix_duration(x):
    try:
        tmp = x.days
        return tmp
    except AttributeError:
        return 0

In [64]:
test_data['duration'] = test_data.loc[:, 'srch_co'] - test_data.loc[:, 'srch_ci']
test_data['duration'] = test_data.duration.apply(fix_duration)
test_data.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market,duration
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-23,2,0,1,12243,6,6,204,27,4
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-15,2,0,1,14474,7,6,204,1540,3
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-27,4,0,1,11353,1,2,50,699,1
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-16,2,0,1,8250,1,2,50,628,2
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-23,2,0,1,11812,1,2,50,538,1

In [65]:
test_data.duration.value_counts(dropna=False)[-25:]

-318    1
-292    1
 86     1
-273    1
 105    1
-365    1
 107    1
 367    1
 136    1
 134    1
 130    1
 129    1
 126    1
 346    1
 123    1
 371    1
 487    1
 118    1
 117    1
 116    1
 373    1
 113    1
 111    1
 110    1
 262    1
Name: duration, dtype: int64

In [66]:
# test_data[test_data.duration <= 0]

In [67]:
data_dest_test = pd.merge(test_data, dest_small, how='left', on='srch_destination_id')
data_dest_test.isnull().sum()

id                                0
date_time                         0
site_name                         0
posa_continent                    0
user_location_country             0
user_location_region              0
user_location_city                0
orig_destination_distance    847461
user_id                           0
is_mobile                         0
is_package                        0
channel                           0
srch_ci                          21
srch_co                          17
srch_adults_cnt                   0
srch_children_cnt                 0
srch_rm_cnt                       0
srch_destination_id               0
srch_destination_type_id          0
hotel_continent                   0
hotel_country                     0
hotel_market                      0
duration                          0
0                             31221
1                             31221
2                             31221
3                             31221
4                             31221
5                             31221
6                             31221
7                             31221
8                             31221
9                             31221
10                            31221
11                            31221
12                            31221
13                            31221
14                            31221
dtype: int64

In [68]:
train_test_df = data_dest_test[data_dest_test.orig_destination_distance.notnull()]
print train_test_df.shape
train_test_df.head(2)

(1680782, 38)

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,5,6,7,8,9,10,11,12,13,14
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,1.45208,-0.471671,-0.55755,-2.363943,-0.323371,-0.002065,0.679505,-0.755188,-0.469986,-0.510644
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
X = train_test_df[['site_name', 'posa_continent', 'user_location_country','user_location_region', 
                   'user_location_city', 'srch_destination_id', 'srch_destination_type_id', 
                   'hotel_continent', 'hotel_country', 'hotel_market']]

# X = train_test_df[['user_location_country', 'user_location_region', 'user_location_city', 
#                    'hotel_market','hotel_continent', 'hotel_country', 'hotel_cluster',
#                    'srch_destination_id']]
y = train_test_df.orig_destination_distance.values

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

rfr = RandomForestRegressor(n_jobs=3)
rfr.fit(X_train,y_train)
y_pred = rfr.predict(X_test)

rfr.score(X_test, y_test)

0.99464836636609921

In [71]:
train_test_df_missing = data_dest_test[~data_dest_test.orig_destination_distance.notnull()]

X_miss = train_test_df_missing[['site_name', 'posa_continent', 'user_location_country','user_location_region', 
                                'user_location_city', 'srch_destination_id', 'srch_destination_type_id', 
                                'hotel_continent', 'hotel_country', 'hotel_market']]

y_missing = model.predict(X_miss)

In [72]:
train_test_df_missing.loc[:, 'orig_destination_distance'] = y_missing
train_test_df_missing.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,5,6,7,8,9,10,11,12,13,14
11,11,2015-08-10 13:35:02,11,3,214,120,44496,4171.766207,56,0,...,-0.420213,3.054430,-0.297359,-1.734010,0.736502,2.151921,-0.416714,0.667463,-0.886885,0.407418
12,12,2015-06-03 10:45:51,2,3,57,342,5021,4751.985590,57,0,...,-3.470022,0.216481,0.549442,-0.097376,1.023986,-0.212570,0.876503,-1.897142,2.137787,0.723465
13,13,2015-06-19 10:16:08,2,3,57,342,5021,5021.238700,57,0,...,1.142044,0.268677,-1.304314,0.513783,-0.006422,1.423886,-1.177643,-0.595946,0.535320,-0.701900
14,14,2015-07-14 08:24:18,2,3,57,342,5021,4458.134647,57,0,...,0.154419,0.810021,0.450141,1.684915,-0.826871,1.456726,-0.541287,0.638163,1.041401,0.879503
15,15,2015-07-14 08:48:48,2,3,57,342,5021,4215.063950,57,0,...,-0.570811,0.861412,-1.180811,1.186131,-0.499144,-0.420039,0.443889,0.785826,2.154080,1.396820

In [73]:
test_data_full = pd.concat([train_test_df, train_test_df_missing])
test_data_full.head().T

,0,1,2,3,4
id,0,1,2,3,4
date_time,2015-09-03 17:09:54,2015-09-24 17:38:35,2015-06-07 15:53:02,2015-09-14 14:49:10,2015-07-17 09:32:04
site_name,2,2,2,2,2
posa_continent,3,3,3,3,3
user_location_country,66,66,66,66,66
user_location_region,174,174,142,258,467
user_location_city,37449,37449,17440,34156,36345
orig_destination_distance,5539.06,5873.29,3975.98,1508.6,66.7913
user_id,1,1,20,28,50
is_mobile,1,1,0,0,0
is_package,0,0,0,1,0
channel,3,10,1,10,0
srch_ci,2016-05-19 00:00:00,2016-05-12 00:00:00,2015-07-26 00:00:00,2015-09-14 00:00:00,2015-07-22 00:00:00
srch_co,2016-05-23 00:00:00,2016-05-15 00:00:00,2015-07-27 00:00:00,2015-09-16 00:00:00,2015-07-23 00:00:00
srch_adults_cnt,2,2,4,2,2
srch_children_cnt,0,0,0,0,0
srch_rm_cnt,1,1,1,1,1
srch_destination_id,12243,14474,11353,8250,11812
srch_destination_type_id,6,7,1,1,1
hotel_continent,6,6,2,2,2
hotel_country,204,204,50,50,50
hotel_market,27,1540,699,628,538
duration,4,3,1,2,1
0,5.40986,NaN,15.7871,45.6425,10.2814
1,-5.64494,NaN,6.30917,4.64724,-5.43708
2,3.89144,NaN,-0.101921,-10.762,1.73615
3,-2.06868,NaN,-1.96433,-2.54178,1.65838
4,4.36257,NaN,-0.311997,-0.338683,-4.62965
5,1.45208,NaN,-3.47002,5.76062,2.28323
6,-0.471671,NaN,0.216481,-8.02533,0.0443461
7,-0.55755,NaN,0.549442,-3.80059,1.7205
8,-2.36394,NaN,-0.097376,-2.32734,-1.0106
9,-0.323371,NaN,1.02399,0.504268,0.690979
10,-0.00206513,NaN,-0.21257,-4.52866,-1.90205
11,0.679505,NaN,0.876503,-2.884,0.171442
12,-0.755188,NaN,-1.89714,0.281745,-0.888175
13,-0.469986,NaN,2.13779,0.0685635,0.13325
14,-0.510644,NaN,0.723465,5.13573,-2.43125

In [74]:
del train_test_df
del train_test_df_missing

In [75]:
# test_data_full['duration'].fillna(0, inplace=True)
test_data_full.isnull().sum()

id                               0
date_time                        0
site_name                        0
posa_continent                   0
user_location_country            0
user_location_region             0
user_location_city               0
orig_destination_distance        0
user_id                          0
is_mobile                        0
is_package                       0
channel                          0
srch_ci                         21
srch_co                         17
srch_adults_cnt                  0
srch_children_cnt                0
srch_rm_cnt                      0
srch_destination_id              0
srch_destination_type_id         0
hotel_continent                  0
hotel_country                    0
hotel_market                     0
duration                         0
0                            31221
1                            31221
2                            31221
3                            31221
4                            31221
5                            31221
6                            31221
7                            31221
8                            31221
9                            31221
10                           31221
11                           31221
12                           31221
13                           31221
14                           31221
dtype: int64

In [76]:
del destinations
del dest_small
del test_data

In [77]:
# repeat of code from original full training run, used for prediction below
# 'cnt' is removed from the columns because it isn't given in the test set
y = train_data_full.hotel_cluster.values
drop_cols = ['date_time', 'user_id', 'srch_ci', 'srch_co', 'is_booking',
             'cnt', 'hotel_cluster']
keep_cols = [x for x in train_data_full.columns if x not in drop_cols]
X = train_data_full[keep_cols]

rfc = RandomForestClassifier(n_estimators=8, n_jobs=2)
model = rfc.fit(X, y)

In [78]:
# save Ids of current rows
test_full_col = test_data_full.columns.values
test_full_col = test_full_col[:23]             # remove PCA comp. cols
test_ids = test_data_full.id.values
drop_test_cols = ['id', 'date_time', 'user_id', 'srch_ci', 'srch_co', 'cnt']
keep_test_cols = [x for x in test_full_col if x not in drop_test_cols]
Xt = test_data_full[keep_test_cols]
Xt.reset_index(drop=True, inplace=True)

In [79]:

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# rfc = RandomForestClassifier(n_estimators=10, n_jobs=2)
# model = rfc.fit(X_train,y_train)
y_pred_fin = model.predict(Xt)

In [ ]:
# sorted(zip(X.columns, model.feature_importances_), 
#        key=lambda x: x[1], reverse=True)

In [80]:
prob_arr = model.predict_proba(Xt)

In [95]:
preds_5 = []
for i in range(len(prob_arr)):
    preds_5.append([x[0] for x in sorted(zip(model.classes_, 
                                             prob_arr[i]), 
                                         key=lambda x: x[1], 
                                         reverse=True)[:5]])

In [96]:
preds_5[:10]

[[25, 5, 9, 28, 37],
 [58, 2, 14, 16, 41],
 [6, 28, 31, 39, 42],
 [1, 79, 24, 45, 0],
 [6, 41, 77, 0, 1],
 [32, 42, 48, 77, 0],
 [70, 2, 21, 95, 0],
 [91, 4, 9, 55, 0],
 [79, 1, 41, 45, 0],
 [55, 32, 50, 0, 1]]

In [97]:
import csv

with open("preds_5_1.csv", "wb") as f:
    writer = csv.writer(f)
    writer.writerows(preds_5)

In [98]:
test_ids[-10:]

array([2528170, 2528171, 2528188, 2528199, 2528210, 2528228, 2528229,
       2528230, 2528232, 2528242])

In [99]:
np.savetxt('ids.out', test_ids, delimiter=',')

In [100]:
test_ids.shape

(2528243,)

In [101]:
len(preds_5)

2528243

In [102]:
fin_df = pd.DataFrame(preds_5)
fin_df['id'] = test_ids
fin_df

          0   1   2   3   4       id
0        25   5   9  28  37        0
1        58   2  14  16  41        1
2         6  28  31  39  42        2
3         1  79  24  45   0        3
4         6  41  77   0   1        4
5        32  42  48  77   0        5
6        70   2  21  95   0        6
7        91   4   9  55   0        7
8        79   1  41  45   0        8
9        55  32  50   0   1        9
10        6  33  91  83   0       10
11       56  41  17  37  50       25
12        9  99  97   0   1       26
13       40  90  48  50  83       27
14       91   7  16  43  72       28
15       44  65   0  26  52       29
16       18  64   2  57  59       30
17       32  42  76  48  77       32
18       88   1  48  79  90       33
19       98  83  33  56  70       34
20       90   7  91  28   0       35
21       42   7  15  28  32       36
22       34  17  32  40  55       37
23        5   2   9  68  90       38
24       63  67  58  85   0       40
25       59  46  29  64   0       41
26       91  99  18  34  50       42
27        1  49  24  79   0       43
28       21  19  95   0   1       44
29       26  91  11  48  84       45
...      ..  ..  ..  ..  ..      ...
2528213  30  59  61  67  75  2528072
2528214   6   9  15  21  30  2528073
2528215  18   4  91  94  95  2528075
2528216  92   7  13  28  75  2528082
2528217  78  34  65  73  96  2528084
2528218  12  14  30  40  58  2528090
2528219  13  37  41  48  55  2528102
2528220  91  14  18  48  77  2528107
2528221  37  81   8  38  64  2528108
2528222  22   8  78  99   0  2528109
2528223  17  23  37  42  47  2528111
2528224  43  13  20  34  50  2528144
2528225  39   4  11  13  19  2528151
2528226   9  21  32  33  64  2528152
2528227  24  45   1  54  79  2528153
2528228  72   4  37  41  56  2528154
2528229  61  78  57  58  60  2528155
2528230  46  29  30  38   0  2528156
2528231  57  46  40  38  29  2528157
2528232  46  58   3   0   1  2528158
2528233  48   4  18  23  33  2528170
2528234  15  48   6  43  63  2528171
2528235  91  99  11  37   0  2528188
2528236  48  85  47  61  81  2528199
2528237  59  25  58  62  64  2528210
2528238  82  29  44  62  67  2528228
2528239  44  26  85  99   0  2528229
2528240  82  43  20  34  36  2528230
2528241  45  24   1   0   2  2528232
2528242  12  21  29  36  57  2528242

[2528243 rows x 6 columns]

In [107]:
fin_df.sort_values('id', inplace=True)
fin_df = fin_df[['id', 0, 1, 2, 3, 4]]
fin_dftest

              id   0   1   2   3   4
0              0  25   5   9  28  37
1              1  58   2  14  16  41
2              2   6  28  31  39  42
3              3   1  79  24  45   0
4              4   6  41  77   0   1
5              5  32  42  48  77   0
6              6  70   2  21  95   0
7              7  91   4   9  55   0
8              8  79   1  41  45   0
9              9  55  32  50   0   1
10            10   6  33  91  83   0
1680782       11  82   6  25  38  48
1680783       12  13   0   6  28  51
1680784       13   9  58  75   6  17
1680785       14  25   4  17  33  72
1680786       15  40  77   6   7  72
1680787       16  71   0   4  30  40
1680788       17   6  41  47  48  77
1680789       18   6  10  16  28  48
1680790       19  59   7  21  25  68
1680791       20  21  18  48  51  91
1680792       21  16  21  14  17  28
1680793       22  65  80   6  26  37
1680794       23  81  10  61  65  66
1680795       24  41   4  55  56  68
11            25  56  41  17  37  50
12            26   9  99  97   0   1
13            27  40  90  48  50  83
14            28  91   7  16  43  72
15            29  44  65   0  26  52
...          ...  ..  ..  ..  ..  ..
1680757  2528213  16   7  43  50  72
1680758  2528214  50   3   7  22  40
1680759  2528215  16  47   6  13  28
1680760  2528216  91  40  28  47  78
1680761  2528217  90  16  32  42  43
1680762  2528218  25  21  64  68  72
1680763  2528219  32   7  13  43  48
1680764  2528220  90   9  10  18  29
1680765  2528221  42  22  41  47  50
1680766  2528222  28  48   5  37  91
1680767  2528223  19  95  47   0   1
1680768  2528224  28  47  10  16  50
1680769  2528225   9  22  64  76   0
1680770  2528226  95  99  48  59  69
1680771  2528227  77  59  29  94   0
2528238  2528228  82  29  44  62  67
2528239  2528229  44  26  85  99   0
2528240  2528230  82  43  20  34  36
1680772  2528231  31  13   7  16   0
2528241  2528232  45  24   1   0   2
1680773  2528233  95   2  19  21  37
1680774  2528234  59  62  77  28   0
1680775  2528235  16  38  61  62  78
1680776  2528236   7  13  15  23  53
1680777  2528237  26   0   6  73  92
1680778  2528238  92  34  26  59   0
1680779  2528239  53   5  20  30  43
1680780  2528240  34   1  24  45  54
1680781  2528241  47   8  12  42  43
2528242  2528242  12  21  29  36  57

[2528243 rows x 6 columns]

In [104]:
pd.to_pickle(fin_df, 'fin_df')

In [ ]:
# xgb = XGBClassifier(max_depth=3)

# xmodel = xgb.fit(X_train,y_train)
# y_pred = xgb.predict(X_test)
# print rmse(y_test, y_pred)

In [17]:
sub_tmp = pd.read_pickle('./fin_df')
sub_tmp.reset_index(drop=True, inplace=True)

In [18]:
new_col_str = sub_tmp.iloc[:, 1:].applymap(str).apply(lambda x: ' '.join(x), axis=1)
new_col_str.sort_index(inplace=True)
new_col_str[:15]

0      25 5 9 28 37
1     58 2 14 16 41
2     6 28 31 39 42
3      1 79 24 45 0
4       6 41 77 0 1
5     32 42 48 77 0
6      70 2 21 95 0
7       91 4 9 55 0
8      79 1 41 45 0
9      55 32 50 0 1
10     6 33 91 83 0
11    82 6 25 38 48
12     13 0 6 28 51
13     9 58 75 6 17
14    25 4 17 33 72
dtype: object

In [19]:
sub_tmp['hotel_cluster'] = new_col_str
sub_df = sub_tmp[['id', 'hotel_cluster']]
sub_df

              id            pred
0              0    25 5 9 28 37
1              1   58 2 14 16 41
2              2   6 28 31 39 42
3              3    1 79 24 45 0
4              4     6 41 77 0 1
5              5   32 42 48 77 0
6              6    70 2 21 95 0
7              7     91 4 9 55 0
8              8    79 1 41 45 0
9              9    55 32 50 0 1
10            10    6 33 91 83 0
11            11   82 6 25 38 48
12            12    13 0 6 28 51
13            13    9 58 75 6 17
14            14   25 4 17 33 72
15            15    40 77 6 7 72
16            16    71 0 4 30 40
17            17   6 41 47 48 77
18            18   6 10 16 28 48
19            19   59 7 21 25 68
20            20  21 18 48 51 91
21            21  16 21 14 17 28
22            22   65 80 6 26 37
23            23  81 10 61 65 66
24            24   41 4 55 56 68
25            25  56 41 17 37 50
26            26     9 99 97 0 1
27            27  40 90 48 50 83
28            28   91 7 16 43 72
29            29   44 65 0 26 52
...          ...             ...
2528213  2528213   16 7 43 50 72
2528214  2528214    50 3 7 22 40
2528215  2528215   16 47 6 13 28
2528216  2528216  91 40 28 47 78
2528217  2528217  90 16 32 42 43
2528218  2528218  25 21 64 68 72
2528219  2528219   32 7 13 43 48
2528220  2528220   90 9 10 18 29
2528221  2528221  42 22 41 47 50
2528222  2528222   28 48 5 37 91
2528223  2528223    19 95 47 0 1
2528224  2528224  28 47 10 16 50
2528225  2528225    9 22 64 76 0
2528226  2528226  95 99 48 59 69
2528227  2528227   77 59 29 94 0
2528228  2528228  82 29 44 62 67
2528229  2528229   44 26 85 99 0
2528230  2528230  82 43 20 34 36
2528231  2528231    31 13 7 16 0
2528232  2528232     45 24 1 0 2
2528233  2528233   95 2 19 21 37
2528234  2528234   59 62 77 28 0
2528235  2528235  16 38 61 62 78
2528236  2528236   7 13 15 23 53
2528237  2528237    26 0 6 73 92
2528238  2528238   92 34 26 59 0
2528239  2528239   53 5 20 30 43
2528240  2528240   34 1 24 45 54
2528241  2528241   47 8 12 42 43
2528242  2528242  12 21 29 36 57

[2528243 rows x 2 columns]

In [21]:
sub_df.to_csv('sumbission_1.csv', index=False)

In [49]:
# what does the sample submission look like - use to make new one
samp_submis = pd.read_csv('../kag_exp_data/sample_submission.csv')
samp_submis.head()

   id hotel_cluster
0   0          99 1
1   1          99 1
2   2          99 1
3   3          99 1
4   4          99 1